<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Recuperação de Senha de {{domain}}</title>
</head>

<body>
    <p>
        Para iniciar o processo de redefinição de senha para sua conta {{ user }} ({{ user.email }}), clique no link abaixo:
    </p>
    <p>Por favor, acesse a seguinte página e escolha uma nova senha:</p>
    {% url 'password_reset_confirm' uidb64=uid token=token as link %}
    <p>
        <a href="{{ protocol}}://{{ domain }}{{ link }}">{{ protocol}}://{{ domain }}{{ link }}</a>
    </p>
    <p>Seu nome de usuário, caso tenha esquecido: <b>{{ user }}</b></p>
    <p>Obrigado por usar nosso site!</p>
    <p>Equipe {{ domain }}</p>
    <!--
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    Se clicar no link acima não funcionar, copie e cole o URL em um novo navegador
    janela em vez disso.
    -->
</body>

</html>